<aside>
	<div class="panel radius">
		<h3>Blog page</h3>
		<p>
			<h5>My interests:</h5>
			I have a strong passion for merging the fields of chemistry and computing, exploring how data science and software engineering can drive advancements in scientific research.
			<h5>Blog topics:</h5>
			<ul>
				<li>Python</li>
				<li>Machine Learning</li>
				<li>Chemistry</li>
			</ul>

			<h5>Connect with me!</h5>
			<ul>
                <li><a href="mailto:k-nom@outlook.com"><i class="fas fa-envelope"></i> k-nom@outlook.com</a></li>
                <li><a href="https://www.linkedin.com/in/k-nom/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                <li><a href="https://www.instagram.com/k._.o.n" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
            </ul>
		</p>
	</div>

  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
</aside>