<aside>
	<div class="panel radius">
		<h3>Key skills</h3>
		<p>
			<b>Programming:</b><br> Automated script using python and bash for launch on a cluster. QC calculations parallelized using MPI
			<br><b>Computational Chemistry:</b><br> Extensive experience with simulations using ORCA, as well as data extraction and visualization.
			<br><b>Project management:</b><br> Managed the project from conception to completion, including data analysis and presentations, frequently presenting results to supervisor.
		</p>
	</div>

  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
</aside>