<aside>
	<div class="panel radius">
		<h3>Key skills</h3>
		<p>
			<b>Data mining:</b><br> Conducted detailed analysis on large datasets, extracting meaningful insights through exploratory data analysis (EDA) and feature engineering to inform decisions and model improvements.
			<br><b>Machine learning</b><br> Developed and fine-tuned classification models, including Random Forest and K-Means clustering, to achieve high accuracy in predicting biscuit types.
			<br><b>Critical Analysis:</b><br> Applied critical thinking to assess the applicability of theoretical models like capillary action to empirical data, identifying the most effective methods for prediction and classification in biscuit experiments.
		</p>
	</div>
</aside>