<aside>
	<div class="panel radius">
		<h3>Key Skills</h3>
		<p>
			<b>Microservice architecture:</b><br> Developed and maintained a microservice architecture to scale a data processing script, including service discovery, load balancing, and fault tolerance.<br>
			<b>Interservice communication:</b><br> Implemented a RabbitMQ message broker to facilitate communication between services, ensuring data consistency and reliability.<br>
			<b>Containerization:</b><br> Containerized services using Docker, enabling seamless deployment and scaling of services across multiple environments.
		</p>
	</div>
</aside>