@charset "utf-8";
/* TOC

- Adjustments: Video Layout
- Navigation
- Search
- Masthead
- Masthead › small-only
- Masthead › medium-only
- Masthead › large-only
- Masthead › xlarge-up
- Breadcrumb
- Meta
- Jump to top
- Footer
- Subfooter
- CSS-Classes to add margin at top or bottom

*/



/* Adjustments: Video Layout
------------------------------------------------------------------- */

body.video,
body.video #masthead-no-image-header { background: #000; }
body.video #masthead-no-image-header { margin-bottom: 60px; }
body.video h1,
body.video h2,
body.video h3,
body.video h4,
body.video h5,
body.video h6,
body.video p,
body.video a,
body.video blockquote:before,
body.video blockquote:after,
body.video cite a, { color: #fff; }
body.video cite a:visited, { color: #fff; }
body.video cite { color: #fff; }



/* Navigation
------------------------------------------------------------------- */

#navigation {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);

    [class^='icon-']:before, [class*=' icon-']:before {
        margin-right: rem-calc(8);
    }
}



/* Search
------------------------------------------------------------------- */

.no-js form#search {
  display: none;
}



/* Masthead
------------------------------------------------------------------- */

#masthead {
    background-color: $primary-color;
}
#masthead-no-image-header {
    background-color: $primary-color;
}
#masthead-with-text {
    text-align: center;
    font-size: rem-calc(54);
    font-family: $header-font-family;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 2px 3px rgba(0,0,0,.4);
}
#masthead-no-image-header {
    height: 175px;
}
#masthead-no-image-header #logo img {
    margin-top: 60px;
}

.masthead-subtitle {
    font-size: 0.5em; /* Adjust the font size as needed */
    text-transform: none; /* Ensure the text is not in caps lock */
    margin-top: 0.5em; /* Add some space between the title and subtitle */
}

/* Masthead › small-only
------------------------------------------------------------------- */

@media #{$small-only} {
    #logo img {
        display: none;
    }
    #masthead {
        height: 200px;
    }
    #masthead-with-pattern {
        padding: 15px 0;
    }
    #masthead-with-background-color {
        padding: 15px 0;
    }
    #masthead-with-text {
        height: 220px;
        padding: 30px 0;
        font-size: rem-calc(36);
    }
    #masthead-no-image-header {
        display: none;
    }
}


/* Masthead › medium-only
------------------------------------------------------------------- */

@media #{$medium-only} {
    #logo img {
        margin-top: 60px;
    }
    #masthead {
        height: 280px;
    }
    #masthead-with-pattern {
        padding: 20px 0;
    }
    #masthead-with-background-color {
        padding: 20px 0;
    }
    #masthead-with-text {
        padding: 60px 0;
        height: 300px;
    }
}


/* Masthead › large-only
------------------------------------------------------------------- */

@media #{$large-only} {
    #logo img {
        margin-top: 80px;
    }
    #masthead {
        height: 310px;
    }
    #masthead-with-pattern {
        padding: 30px 0;
    }
    #masthead-with-background-color {
        padding: 30px 0;
    }
    #masthead-with-text {
        height: 330px;
        padding: 60px 0;
    }
}


/* Masthead › xlarge-up
------------------------------------------------------------------- */

@media #{$xlarge-up} {
    #logo img {
        margin-top: 110px;
    }
    #masthead {
        height: 380px;
    }
    #masthead-with-pattern {
        padding: 45px 0;
    }
    #masthead-with-background-color {
        padding: 45px 0;
    }
    #masthead-with-text {
        padding: 95px 0;
        height: 400px;
    }
}


#title-image-small {
    height: 240px;
}
#title-image-large {
    height: 520px;
}
#title-image-index-small {
    height: 120px;
}
#title-image-index-large {
    height: 260px;
}



/* Breadcrumb
------------------------------------------------------------------- */

#breadcrumb {
    background: scale-color($grey-1, $lightness: 55%);
    border-top: 1px solid scale-color($grey-1, $lightness: 45%);
    border-bottom: 1px solid scale-color($grey-1, $lightness: 45%);
}
.breadcrumbs>.current {
  font-weight: bold;
}


/* Meta
------------------------------------------------------------------- */

#page-meta, #page-meta a {
    color: $grey-5;
}

#page-meta .button {
    background: $grey-5;
    border: 0;
}
#page-meta .button {
    color: #fff;
}
#page-meta .button:hover {
    background: $primary-color;
}
.meta-info p {
  font-size: rem-calc(13);
  color: scale-color($grey-1, $lightness: 40%);
}
  .meta-info a {
    text-decoration: underline;
    color: scale-color($grey-1, $lightness: 40%);
  }
  .meta-info a:hover {
    text-decoration: none;
    color: $secondary-color;
  }



/* Jump to top
------------------------------------------------------------------- */

#up-to-top {
    padding: 160px 0 10px 0;
}
#up-to-top a {
    font-size: 24px;
    padding: 5px;
    border-radius: 3px;
}
#up-to-top a:hover {
    background: $grey-2;
}



/* Footer
------------------------------------------------------------------- */

#footer-content p,
#footer-content li {
    font-size: rem-calc(13);
    font-weight: 300;
}

#footer {
    padding-top: 30px;
    padding-bottom: 20px;
    background: $footer-bg;
    color: $footer-color;
    }

    #footer a {
        color: $footer-link-color;
    }
    #footer h4,
    #footer h5 {
        letter-spacing: 1px;
        color: #fff;
        text-transform: uppercase;
    }



/* Subfooter
------------------------------------------------------------------- */

#subfooter {
    background: $subfooter-bg;
    color: $subfooter-color;
    padding-top: 30px;
}

#subfooter-left ul.inline-list {
    float: left;
}

.credits a {
    color: $subfooter-link-color;
    border: 0;
    text-transform: uppercase;
    &:hover {
        color: #fff;
  }
}

.social-icons {
    margin-bottom: 10px !important;

// Beware of SCSS-Syntax here
  li {
    padding: 0 0 20px 0;
  }
  a {
    font-size: rem-calc(23);
    display: block;
    width: 36px;
    border-radius: 50%;
    color: $subfooter-bg;
    background: $subfooter-color;
    text-align: center;
    &:hover {
      background: $subfooter-bg;
      color: #fff;
    }
  }
}



/* CSS-Classes to add margin at top or bottom
------------------------------------------------------------------- */

.t10 { margin-top: 10px !important; }
.t15 { margin-top: 15px !important; }
.t20 { margin-top: 20px !important; }
.t30 { margin-top: 30px !important; }
.t50 { margin-top: 50px !important; }
.t60 { margin-top: 60px !important; }
.t70 { margin-top: 70px !important; }
.t80 { margin-top: 80px !important; }
.t90 { margin-top: 90px !important; }

.b15 { margin-bottom: 15px !important; }
.b20 { margin-bottom: 20px !important; }
.b30 { margin-bottom: 30px !important; }
.b60 { margin-bottom: 60px !important; }

.l15 { margin-left: 15px !important; }
.r15 { margin-right: 15px !important; }

.pl20 { padding-left: 20px !important; }
.pr5  { padding-right: 5px !important; }
.pr10 { padding-right: 10px !important; }
.pr20 { padding-right: 20px !important; }

.widgets-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Ensures responsiveness */
    margin: 0 -15px; /* Adjusts for any padding/margin of the container */
}

.widgets-container .widget {
    flex: 1 1 100%; /* Makes each widget take up 100% of the width */
    padding: 15px; /* Adjusts spacing around widgets */
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}

.frontpage-widget {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    margin: 10px;
    box-sizing: border-box;
    width: calc(33.333% - 20px); /* Three widgets per row */
    max-width: 100%;
    min-height: 400px; /* Ensure consistent widget height */
}

.frontpage-widget .button-container {
    margin-top: auto; /* Keeps the button at the bottom */
}

.widget-image {
    width: 300px; /* Explicit width */
    height: 10px; /* Explicit height */
    object-fit: cover; /* Fill the image area without distortion */
    display: block;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.columns {
    display: flex;
    flex-direction: column;
}

.columns img {
    max-width: 100%;
    height: auto;
}

.columns ul {
    flex-grow: 1;
}
.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Adjust the gap as needed */
}

.image-item {
    flex: 1 1 calc(33.333% - 20px); /* Subtracting the gap */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-item img {
    max-width: 100%;
    height: auto;
    display: block;
}

.image-item p {
    margin-top: 10px;
    text-align: center;
}

// CV

.cv-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.cv-header {
    text-align: center;
    margin-bottom: 20px;
}

.cv-header h1 {
    margin: 0;
    font-size: 2em;
}

.cv-header p {
    margin: 5px 0;
}

.cv-section {
    margin-bottom: 20px;
}

.cv-section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.cv-item h3 {
    margin: 0;
    font-size: 1.2em;
}

.cv-item p {
    margin: 5px 0;
}

.cv-item ul {
    list-style-type: disc;
    padding-left: 20px;
}

.cv-item ul li {
    margin-bottom: 5px;
}

// /* Custom styles to improve readability and layout */
// Guides page 

.guides-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;

    .guide-item {
        position: relative;
        width: 30%;
        overflow: hidden;
        border-radius: 10px;
        transition: transform 0.3s;
        
        &:hover {
            transform: scale(1.05);

            img {
                filter: blur(5px);
            }

            .guide-info {
                opacity: 1;
                transform: translateY(0);
            }
        }

        img {
            width: 100%;
            height: auto;
            transition: filter 0.3s;
        }

        .guide-info {
            position: absolute;
            top: 10px; /* Adjust this value as needed */
            left: 10px; /* Adjust this value as needed */
            right: 10px; /* Adjust this value as needed */
            text-align: left; /* Align text to the left */
            color: white;
            background: rgba(0, 0, 0, 0.5); /* Optional: Add a background for better readability */
            padding: 10px; /* Optional: Add padding for better readability */
            opacity: 0;
            transition: opacity 0.3s, transform 0.3s;
        }

        h2, p {
            margin: 0;
        }

        h2 {
            color: white; /* Ensure the title is white */
            margin-bottom: 10px; /* Optional: Add some space between the title and description */
        }

        p {
            color: white; /* Ensure the description is white */
        }
    }
}

.card {
    color: var(--clr-neutral-100);
    background-image: url(/images/python.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 1rem;

}

.card-content{
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hs1(0 0% 0% / 0),
        hs1(0 0% 0% / 1));
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.card-title{
    position: relative;
    width: max-content;
}
.card-title::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: 0;
    left: calc(var(--padding));
    background: var(--clr--accent-400);

}

.card-body{
    color: rgb(255, 255, 255 / 0.85);
}

.button-guides{
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    padding: 0.5rem 1.25rem;
    border-radius: 0.25rem;

}

.button:hover,
.button:focus{
    background-color: var(--clr-neutral-100);
}
// new guides box

// body {
//     font-size: 18px;
//     line-height: 1.6;
// }

// .row.expanded {
//     max-width: 100%;
//     margin-left: 0;
//     margin-right: 0;
// }

// .row.expanded > .columns {
//     word-wrap: break-word;
//     overflow-wrap: break-word;
//     padding: 0 20px;
// }

// .large-8 {
//     width: 66.66667%;
// }

// .large-4 {
//     width: 33.33333%;
// }

// /* Increase spacing between elements */
// .widget {
//     margin-bottom: 2em;
// }

// .widgets-spacing {
//     margin-top: 100px; /* Adjust the value as needed */
// }

// /* Larger text for headings */
// h1 { font-size: 2.5em; }
// h2 { font-size: 2em; }
// h3 { font-size: 1.75em; }

// /* Ensure buttons are easily clickable on mobile */
// .button {
//     font-size: 1em;
//     padding: 0.85em 1em;
// }

// /* Add some space between columns on smaller screens */
// @media screen and (max-width: 640px) {
//     .row .columns {
//         margin-bottom: 20px;
//     }
// }

// Contact page

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 6px 0 16px 0;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  form label {
    font-weight: bold;
  }
  
  form input[required] {
    border-left: 4px solid red;
  }
  
  form input[required]:invalid {
    border-color: red;
  }
  
  form input:focus, form textarea:focus {
    border-color: #04AA6D;
    outline: none;
  }

  // Search 

  .search-container {
    display: flex;
    align-items: center;
  }
  
  #search-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  #search-button   
   {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  